.container{
    max-width: 1200px;
    margin:auto;
    &.d-flex{
        display: flex;
        

    }
    &.j-content-sb{
        justify-content: space-between;
    }
    
}

.card{
    display: flex;
    color: var(--white-text);
    align-items: center;
    justify-content: space-between;
    
    img{
        height: 40%;
    }
    h3{
        flex-grow: 1;
        padding-left: 10px;
        font-weight: 300;
    }
}

